.hero {
  background: url(../images/bg.png) lightgray 50% / cover no-repeat;
  height: 1000px;
}
.nav {
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 115px;
  padding: 30px 0;
  &-item {
    list-style-type: none;
  }
}
.hero {
  position: relative;
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.hero-button {
  color: $ff-color;
  padding: 15px 35px;
  background-color: $a5-color;
  border-radius: 60px;
}
@media (hover:hover) {
  .menu-link{
    position: relative;
    transition: all 0.2s linear;
    &::after{
      content: "";
      position: absolute;
      bottom:  -8px;
      left: auto;
      right: 0;
      width: 0;
      height: 2px;
      background-color: $a5-color;
      transition: all 0.2s linear;
    }
    &:hover{
      color: $a5-color;
      &::after{
        width: 100%;
        left: 0;
        right: auto;
        color: $a5-color;
      }
    }
  }
}
