$font-Philosopher: "Philosopher", sans-serif;
$font-Josefin: "Josefin Sans", sans-serif;
$font-Cinzel: "Cinzel", serif;
$font-Pinyon: "Pinyon Script", cursive;
$f4-color: #f4f6f9;
$ff-color: #ffffff;
$a5-color: #a53e4c;
$bl36-color: #363636;
