.welcome {
  position: relative;
}

.welcome {
  &-main {
    width: 1170px;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 0 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  &-image {
    max-width: 571px;
    max-height: 571px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-right {
    max-width: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
  }
  &-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 6px;
      height: 1px;
      width: 100px;
      right: -60px;
      color: $a5-color;
      background-color: #dbdde0;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 6px;
      height: 1px;
      width: 100px;
      left: -60px;
      color: $a5-color;
      background-color: #dbdde0;
    }
    h1 {
      font-size: 36px;
      font-family: $font-Pinyon;
      letter-spacing: 5px;
      color: $a5-color;
      margin-bottom: 10px;
    }
    h2 {
      font-family: $font-Philosopher;
      font-weight: bold;
      font-size: 36px;
      letter-spacing: 5px;
      color: $bl36-color;
    }
  }
  &-desc {
    margin-top: 35px;

    p {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      font-family: $font-Philosopher;
      color: #898989;
      line-height: 1.8;
    }
  }
  &-right-images {
    margin-top: 35px;
    opacity: 0.2;
  }
}
